PlayerTurnPanel {
    /* Positioning */
    width: 100%;
    height: 100%;

    /* Positioning (type) */
    position: absolute;
}

PlayerTurnPanel .options {
    /* Positioning */
    width: 30%;
    height: 50%;
    right: 0px;
    bottom: 0px;

    /* Positioning (type) */
    position: absolute;

    /* Make inner elements go 1 by 1 downwards (wording ?)*/
    display: flex;
    flex-direction: column;

    /* Style */
    padding: 20px;
    font-size: 100px;
    background-color: blue;
}

.options .option {
    /* Positioning */
    width: 100%;
    right: 25px;

    align-items: center;
    justify-content: flex-end;

    /* Style */
    background-color: transparent;
}

.option Glyph {
    align-items: center;
    justify-content: center;
}

.option .text {
    /* Positioning */
    left: 25px;

    text-align: right;

    /* Style */
    background-color: transparent;
    color: white;
}